@import './animations.css';
@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: theme(fontFamily.mono);
    }
    ::-webkit-scrollbar {
        width: theme(spacing.mdsm);
        height: theme(spacing.mdsm);
    }
    ::-webkit-scrollbar-track {
        background: theme(colors.gray.700);
    }
    ::-webkit-scrollbar-thumb {
        background: theme(colors.teal.600);

        &:hover {
            background: theme(colors.teal.400);
        }
    }
}
@layer components {
    @property --pointer-glow {
        syntax: '<percentage>';
        inherits: false;
        initial-value: 80%;
    }
    .transition-glowpointer {
        animation: deactiveGlowPointer .4s ease-in-out 0s 1 normal forwards;
    }
    .transition-glowpointer--pressed {
        animation: activeGlowPointer .4s ease-in-out 0s 1 normal forwards;
    }
}

@layer utilities {    
    .alignfull {
        margin-left  : calc( -100vw / 2 + 100% / 2 );
        margin-right : calc( -100vw / 2 + 100% / 2 );
        width: 100vw;
    }
    .lead {
        @apply text-md leading-relaxed xl:text-lg;
    }
    .styled-content {
        p {
            &:not(:last-child) {
                margin-bottom: theme(spacing.base);
                
                &+ul {
                    margin-top: calc(theme(spacing.sm) * -1);
                }
            }
        }
        ul {
            list-style-image: url('~/assets/images/list-square-rotated.png');
            padding-left: theme(spacing.mdlg);

            li:not(:last-child) {
                margin-bottom: theme(spacing.sm);
            }
        }
        a {
            border-bottom: 1px solid;
            color: theme(colors.gray.200);
            transition-property: theme(transitionProperty.colors);
            transition-timing-function: theme(transitionTimingFunction.DEFAULT);
            transition-duration: theme(transitionDuration.DEFAULT);

            &:hover {
                color: theme(colors.white);
            }
        }
        b, strong {
            color: theme(colors.white);
        }
    }
}